:root {
    --gray: #8B8B8B;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    font-family: 'Smythe', serif;
}

header {
    background-image: url('./imgs/header.png');
    color: white;
    height: 120px;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .6rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

#container {
    max-width: 800px;
    margin: 0 auto;
}

.menu-item {
    display: flex;
    gap: 20px;
}

.menu-item-details {
    flex-grow: 1;
}

.menu-item-details-name {
    font-size: 1.5rem;
}

.menu-item-img {
    font-size: 5rem;
    line-height: 5rem;
}

.menu-item-details-name {
    font-size: 2rem;
}

.menu-item {
    padding: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

.menu-item-add {
    width: 50px;
    height: 50px;
}

.menu-item-details-ingredients {
    color: var(--gray);
}
