:root {
    --gray: #8B8B8B;
    --green: #16DB99;
}

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    font-family: 'Smythe', serif;
}

header {
    background-image: url('./imgs/header.png');
    color: white;
    height: 120px;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .6rem;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 3rem;
}

#container-outer {
    max-width: 800px;
    margin: 40px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 40px black;
}

.container-inner {
    margin: 50px;
}

.menu-line {
    display: flex;
    gap: 20px;
    padding: 40px 0;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

.menu-line-details {
    flex-grow: 1;
}

.menu-line-img {
    font-size: 5rem;
    line-height: 5rem;
}

.menu-line-add-btn {
    width: 50px;
    height: 50px;
    font-size: 38px;
    border-radius: 50%;
    border: 1px solid var(--gray);
    background-color: transparent;
}

.menu-line-add-btn:active {
    background-color: #dcdcdc;
}

#order h3 {
    text-align: center;
    margin-top: 2rem;
}

.order-lines {
    list-style: none;
}

.order-line {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.order-line-item-remove {
    border: none;
    background-color: transparent;
}

.order-line-item-remove:active {
    color: #ff0000;
}

.order-line-item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.order-total {
    border-top: 2px solid black;
    border-bottom: none;
}

.submit-btn {
    border: none;
    display: block;
    width: 100%;
    padding: 20px 0;
    background-color: var(--green);
    color: white;
    margin-top: 40px;
    border-radius: 5px;
}

.submit-btn:active {
    background-color: #13b680;
}

.font-lg {
    font-size: 28px;
}

.font-md {
    font-size: 22px;
}

.font-sm {
    font-size: 16px;
}

.color-gray {
    color: var(--gray);
}

.hidden {
    display: none;
}

#card-details {
    box-shadow: 0 0 100px #8B8B8B;
    border-radius: 5px;
    padding: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    width: 500px;
    height: 400px;
}

#card-details h2 {
    text-align: center;
    margin-bottom: 40px;
}

#card-details form {
    /*margin: 40px;*/
}

#card-details input {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}

#confirmation-banner {
    color: #065F46;
    background-color: #ECFDF5;
    padding: 40px;
    text-align: center;
}






